#table_fu {font-size:14px; padding:20px 0;}
#table_fu a, #table_fu a:hover {color:black; text-decoration:none; font-weight:normal;}
#table_fu a:link, #table_fu a:visited {color:#336699; text-decoration:underline; font-weight:normal;}
#table_fu a:link:hover, #table_fu a:visited:hover {color:#3d9fd2;}

#table_fu * { margin: 0; padding: 0; }
#table_fu div.table_title {font-size: 24px;font-weight: bold;}
#table_fu .deck {line-height:1.5em; margin-right:250px;}
#table_fu p {margin:10px 0;}

#table_fu .table_title,
#table_fu .byline-date,
#table_fu .story-link {
margin-bottom: 14px;
}
#table_fu .controls{
overflow:hidden;
clear: both;
margin-bottom: 0px;

}
#table_fu .byline-date { font-weight:bold; color:#666; font-size:12px; }
#table_fu small {color:#666; font-size:11px;}
#table_fu .story-link { font-size:16px; }

#table_fu div.download {float:right; width:180px; border:1px #aaa solid; padding:10px 10px 10px 38px; background:url(../images/database_table.png) no-repeat; background-position:12px 12px; font-size:1em;}
#table_fu div.download p {margin-top:0;margin-bottom:.5em;}


#table_fu div.pager { float:right;}
#table_fu div.pager .pager-nav,
#table_fu div.pager .pager-size {padding:4px 0; text-align:center;}
#table_fu div.pager div.pagedisplay{ display: inline; }
#table_fu #filter { float:left; padding:14px 0;}
#table_fu #filter label {font-weight:bold;}
#table_fu #filter input {width:260px;font-size:16px;}
  
    #table_fu #data{
      border: 1px solid #ababab;
      border-collapse: collapse;
      margin-bottom:14px;
      width: 100%;
    }
    


#table_fu td, 
#table_fu th{
padding: 7px;
border-bottom: 1px solid #ababab;
text-align: left;
}

#table_fu thead td {border-bottom:none; font-weight:bold;}

#table_fu th {
cursor: pointer;
vertical-align: bottom;
}
#table_fu td.sorted{
background-color: #E8F3F9;
}
#table_fu td .bar{
width: 100%;
height: 100%;
text-align:left;
background-color: #99CA3C;
color:#444;
float:left;
padding:0.5em;
margin-top: 0.7em;
font-weight:bold;
}

#table_fu thead {text-shadow:0 1px 0 white;}

#table_fu th.header span {
display:inline-block;
width:11px;
height:11px;
background-image:url(../images/bg.gif);
background-position:center;
background-repeat:no-repeat;
}
      
#table_fu th.header,
#table_fu thead td {
  background-color:#e8e8e8;
}
#table_fu th.headerSortDown {
background-color: #C2D9EF;
}
#table_fu th.headerSortDown span {
  background-image: url(../images/asc.gif);
}
#table_fu th.headerSortUp{
background-color: #C2D9EF;
}
#table_fu th.headerSortUp span {
  background-image: url(../images/desc.gif);
}