body {background:white url('../images/gradient.png') repeat-x -20px 0; padding:20px 0;}

#logo {float:right;}
#logo img {border:0;}

#table_fu{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

#table_fu a:link, #table_fu a:visited {color:#336699;}
#table_fu a:hover, #table_fu a:active {color:#3d9fd2;}

  #table_fu *{
    margin: 0; 
    padding: 0;
  }
  #table_fu div.table_title{
    font-size: 24px;
    font-weight: bold;
  }
  #table_fu .deck {
      width:650px;
  }
  #table_fu div{
    margin-bottom: 14px;
  }
  #table_fu .controls{
    overflow:auto;
    clear: both;
    margin-bottom: 0px;
    
  }
  #table_fu .byline-date {
    font-weight:bold;
    color:#666;
    font-size:12px;
  }
  #table_fu div.pager{
    float:right;
    width: 15%;
  }
    #table_fu div.pager div.pagedisplay{
      display: inline;
    }
  #table_fu div.filter{
    float:left;
    width:30%;
  }
  
    #table_fu #data{
      border: 1px solid #ababab;
      border-collapse: collapse;
      margin-bottom:14px;
      width: 100%;
    }
      #table_fu td, #table_fu th{
        padding: 7px;
        border-bottom: 1px solid #ababab;
        text-align: center;
      }
      #table_fu th{
        cursor: pointer;
        vertical-align: bottom;
      }
      #table_fu td.sorted{
        background-color: #E8F3F9;
      }
      #table_fu td .bar{
        width: 100%;
        height: 100%;
        text-align:left;
        background-color: #99CA3C;
        color:#444;
        float:left;
        padding:0.5em;
        margin-top: 0.7em;
        font-weight:bold;
      }
      
      #table_fu th.header span {
          display:inline;
          text-shadow:0 1px 0 white;
          padding-right:15px;
          background-image:url(../images/bg.gif);
          background-position:right center;
          background-repeat:no-repeat;
      }
      
      #table_fu th.header {
          background-color:#e8e8e8;
      }
      #table_fu th.headerSortDown {
        background-color: #C2D9EF;
      }
      #table_fu th.headerSortDown span {
          background-image: url(../images/asc.gif);
      }
      #table_fu th.headerSortUp{
        background-color: #C2D9EF;
      }
      #table_fu th.headerSortUp span {
          background-image: url(../images/desc.gif);
      }